
.vs/VSWorkspaceState.json
.vs/sg-resources/v17/workspaceFileList.bin
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/sg-resources/v17/workspaceFileList.bin
.vs/sg-resources/v17/.wsuo
.vs/sg-resources/FileContentIndex/read.lock
.vs/sg-resources/FileContentIndex/dfd053bf-466b-424a-a053-5e05e6c1b7c8.vsidx
.vs/sg-resources/FileContentIndex/c685692b-6062-4f00-920c-1873a15c82d7.vsidx
.vs/sg-resources/FileContentIndex/513b4a4b-590c-4ab0-b5af-83ed51cfe740.vsidx
.vs/sg-resources/FileContentIndex/4aaa9488-b4c3-4647-be06-1154864c637f.vsidx
.vs/sg-resources/FileContentIndex/3fe1388e-d65e-4252-8736-f0cd47e8e76c.vsidx
